@model SessionDemo.Models.CreateTransferModel
@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@using OpenVASP.Messaging.Messages.Entities
@{
    ViewData["Title"] = "Create";
}
<h3>@ViewData["Title"]</h3>

<style>
    input {margin-top:3px; margin-left: 20px; border-radius: 5px;border-width: 1px;}
    button { margin-top: 5px;}
    select {width: 175px;margin-top:3px; margin-left: 20px;}
</style>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Beneficiary Details:</th>
            </tr>
            <tr>
                <td>Name: </td>
                <td>
                    @Html.TextBoxFor(m => m.BeneficiaryName)
                </td>
            </tr>
            <tr>
                <td>VAAN: </td>
                <td>
                    @Html.TextBoxFor(m => m.BeneficiaryVaan)
                </td>
            </tr>
            <tr>
                <th colspan="2" align="center">Originator Details:</th>
            </tr>
            <tr>
                <td>Name: </td>
                <td>
                    @Html.TextBoxFor(m => m.OriginatorName)
                </td>
            </tr>
            <tr>
                <td>Date Of Birth: </td>
                <td>
                    
                    <div class="input-group date" data-provide="datepicker">
                        <input type="date" id="datepicker" name="DateOfBirth"/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Street Name: </td>
                <td>
                    @Html.TextBoxFor(m => m.PostalAddressStreetName)
                </td>
            </tr>
            <tr>
                <td>Address Line: </td>
                <td>
                    @Html.TextBoxFor(m => m.PostalAddressAddressLine)
                </td>
            </tr>
            <tr>
                <td>Post Code: </td>
                <td>
                    @Html.TextBoxFor(m => m.PostalAddressPostCode)
                </td>
            </tr>
            <tr>
                <td>Town Name: </td>
                <td>
                    @Html.TextBoxFor(m => m.PostalAddressTownName)
                </td>
            </tr>
            <tr>
                <td>Building Number:        </td>
                <td>
                    @Html.TextBoxFor(m => m.PostalAddressBuildingNumber)
                </td>
            </tr>
            <tr>
                <td>Country: </td>
                <td>
                    @Html.DropDownListFor(model => model.PostalAddressCountry, Country.List.Values.Select(
                        x => new SelectListItem {Text = x.Name, Value = x.Name}).ToList(), "Please select")
                </td>
            </tr>
            <tr>
                <th colspan="2" align="center">Transfer Details:</th>
            </tr>
            <tr>
                <td>Asset: </td>
                <td>
                    <select asp-for="AssetType" asp-items="Html.GetEnumSelectList<VirtualAssetType>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Amount: </td>
                <td>
                    @Html.TextBoxFor(m => m.TransactionAmount)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    }